{% extends "base.html" %}

{% block title %}
Поиск
{% endblock %}

{% block  content %}
<main class="content-post">
  <div class="create-post">
    <div class="search-post">
      <form action="" aria-label="search">
        <img src="./assets/img/search-svgrepo-com.svg" alt="">
        <input type="text" placeholder="Search">
      </form>
    </div>
    <hr>
    <div class="trends-explore">
      <div class="trends-me-explore">
        <div class="trends-text-explore">
          <h2>Trends for you</h2>
          <div class="trend-post">
            <a href="">
              <p>Trending in USA</p>
              <p><b>#USA</b></p>
              <p>10K posts</p>
            </a>
          </div>
          <div class="trend-post">
            <a href="">
              <p>Trending in USA</p>
              <p><b>#USA</b></p>
              <p>10K posts</p>
            </a>
          </div>
          <div class="trend-post">
            <a href="">
              <p>Trending in USA</p>
              <p><b>USA</b></p>
              <p>10K posts</p>
            </a>
          </div>
          <div class="trend-post">
            <a href="">
              <p>Trending in USA</p>
              <p><b>USA</b></p>
              <p>10K posts</p>
            </a>
          </div>
          <div class="show-more">
            <a href="">
              <p>Show more</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="trending">
  <div class="follow-back">
    <div class="follow">
      <div class="follow-text">
        <h2>Who to follow</h2>
        <div class="profile-follow">
          <div class="picture-follow"></div>
          <div class="name-nickname-follow">
            <div class="name-follow">
              <h4>HuyDildo</h4>
            </div>
            <div class="nickname-follow">
              <p>@dildak</p>
            </div>
          </div>
          <div class="button-follow">
            <button><a href=""><p><b>Follow</b></p></a></button>
          </div>
        </div>
        <div class="profile-follow">
          <div class="picture-follow"></div>
          <div class="name-nickname-follow">
            <div class="name-follow">
              <h4>HuyDildo</h4>
            </div>
            <div class="nickname-follow">
              <p>@dildak</p>
            </div>
          </div>
          <div class="button-follow">
            <button><a href=""><p><b>Follow</b></p></a></button>
          </div>
        </div>
        <div class="profile-follow">
          <div class="picture-follow"></div>
          <div class="name-nickname-follow">
            <div class="name-follow">
              <h4>HuyDildo</h4>
            </div>
            <div class="nickname-follow">
              <p>@dildak</p>
            </div>
          </div>
          <div class="button-follow">
            <button><a href=""><p><b>Follow</b></p></a></button>
          </div>
        </div>
        <div class="show-more-follow">
          <a href="">
            <p>Show more</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}