{% extends 'base.html' %}

{% load static %}

{% block title %}
Избранное
{% endblock %}

{% block content %}
<div class="favorites_post">
  <h1>Избранные посты</h1>
  
  {% for favorite in favorites %}
    <div><a href="{% url 'post_detail' favorite.post.slug %}">{{ favorite.post }}</a></div>
  {% empty %}
    <div>У вас нет избранных постов.</div>
  {% endfor %}
</div>

<div class="trending">
    <div class="search">
      <form method="GET" action="{% url 'home' %}">
        <button class="btn_search">
          <img src="{% static 'img/search-svgrepo-com.svg' %}" alt="">
        </button>
        <input type="text" name="q" placeholder="Search users..." value="{{ search_query }}">
      </form>
    </div>
    <div class="trends">
      <div class="trends-me">
        <div class="trends-text">
          <h2>Trends for you</h2>
          <div class="trend-post">
            {% if trending_posts %}
              {% for tag in trending_posts %}
                  <div class="post_trends">
                      <p>#{{ tag.name }}</p>
  
                      <a href="{% url 'communities' %}">
                          <p><b>{{ tag.name }}</b></p>
                      </a>
  
                      <p>Посты: {{ tag.post_count }}</p>
                  </div>
              {% endfor %}
              
            {% else %}
                <p>No trending tags available.</p>
            {% endif %}
          </div>
          <div class="show-more">
            <a href="{% url 'communities' %}">
              <p>Show more</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="follow-back">
      <div class="follow">
        <div class="follow-text">
          <h2>Who to follow</h2>
          {% if follow_profiles %}
          {% for profile in follow_profiles %}
              <a href="{% url 'profile' profile.user.username %}">
                  <div class="profile-follow">
                      <div class="profile-follow-flex">
                          <div class="picture-follow">
                              <img src="{{ profile.image.url }}" alt="Avatar" />
                          </div>
                          <div class="name-nickname-follow">
                              <div class="name-follow">
                                  <h4>{{ profile.user.username }}</h4>
                              </div>
                              <div class="nickname-follow">
                                  <p>@{{ profile.user.username }}</p>
                              </div>
                          </div>
                      </div>
                      <div class="button-follow">
                          {% if request.user.profile in profile.subscribed_by.all %}
                              <button><a href="{% url 'unsubscribe' profile.user.username %}">Отписаться</a></button>
                          {% else %}
                              <button><a href="{% url 'subscribe' profile.user.username %}">Подписаться</a></button>
                          {% endif %}
                      </div>
                  </div>
              </a>
          {% endfor %}
        {% else %}
            <p>Вы не подписаны ни на кого.</p>
        {% endif %}
          <div class="show-more-follow">
            <a href="">
              <p>Show more</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  
{% endblock %}